---
import { getSections } from "../../get-page-links";
import NavLink from "../Nav/NavLink.astro";

const currentPage = Astro.canonicalURL.pathname;
const allPages = await Astro.glob("../../data/**/*.md");
const sections = getSections({ currentPage, allPages });
---

<nav aria-labelledby="grid-left">
  <ul class="nav-groups">
    {sections.map((section) => (
      <NavLink class="section-header">
        <a
          href={section.root.href}
          aria-current={`${currentPage === section.root.href ? "page" : "false"}`}
        >
          {section.root.title}
        </a>
        {section.children && (
          <ul>
            {section.children.map((child) => (
              <NavLink>
                <a
                  href={child.href}
                  aria-current={`${currentPage === child.href ? "page" : "false"}`}
                >
                  {child.title}
                </a>
              </NavLink>
            ))}
          </ul>
        )}
      </NavLink>
    ))}
  </ul>
</nav>

<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
  });
</script>

<style lang="scss">
  @use "../../styles/theme.scss";

  nav {
    width: 100%;
    margin-right: 1rem;
  }

  .nav-groups {
    height: 100%;
    padding: 8px;
    overflow-x: visible;
    overflow-y: auto;
    max-height: 100vh;
    // left-align with logo
    margin-left: -24px;
  }

  .nav-groups> :last-child {
    padding-bottom: 2rem;
    margin-bottom: var(--theme-navbar-height);
  }

  .section-header>a {
    font-size: 16px;
    font-weight: 600;
    color: theme.$gray-80;
  }

  .section-header a[aria-current="page"] {
    color: var(--theme-accent-text);
  }
</style>
