.Pill {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  border-radius: 10rem;
  background-color: var(--ifm-color-emphasis-200);
  padding: 4px 8px;

  & :global(.no-transform) {
    text-transform: none;
  }
}

.Pill___info {
  color: var(--ifm-color-secondary-contrast-foreground);
}
