.Pill {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  border-radius: 10rem;
  background-color: var(--sl-color-bg-inline-code);
  padding: 4px 8px;

  &:global(.no-transform),
  & :global(.no-transform) {
    text-transform: none;
  }
}

.Pill___info {
  color: var(--sl-color-text);
}
