---
import NavLink from "../Nav/NavLink.astro";

const { headers } = Astro.props;
---

<style lang="scss">
  .heading {
    font-family: Inter;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--theme-text);
    padding-left: calc(1rem + 8px);
    margin-bottom: 4px;
    // Align with left sidebar top
    margin-top: 8px;
  }

  ul {
    // For focus ring
    padding: 8px;
    overflow-x: visible;
    overflow-y: auto;
    max-height: 100vh;
  }
</style>

<h2 class="heading">On this page</h2>
<ul>
  {headers
    .filter(({ depth }) => depth === 2)
    .map((header) => (
      <NavLink>
        <a href={`#${header.slug}`}>{header.text}</a>
      </NavLink>
    ))}
</ul>
