@use "theme";
@use "typography";

.btn {
  position: relative; /* For focus ring */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  font-family: var(--font-headings);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  transition: background-color 150ms ease-in-out, border 150ms ease-in-out;

  /* Reasonable default color */
  color: var(--color-text-body);

  &:focus {
    /* Visible in Windows high-contrast themes */
    outline-color: transparent;
    outline-width: 2px;
    outline-style: dotted;
  }

  &:hover:not([disabled]):not(.disabled) {
    cursor: pointer;
    text-decoration: none;
  }

  &:focus::after {
    content: "";
    display: block;
    position: absolute;
    top: var(--size-focus-ring-offset);
    bottom: var(--size-focus-ring-offset);
    left: var(--size-focus-ring-offset);
    right: var(--size-focus-ring-offset);
    border-radius: var(--size-focus-ring-radius);

    /* This will be turned off if :focus-visible is supported */
    border: var(--size-focus-ring-width) solid theme.$purple;
  }

  &:focus-visible::after {
    border: var(--size-focus-ring-width) solid theme.$purple;
  }

  &:focus:not(:focus-visible)::after {
    border: none;
  }
}

a.btn {
  // Anchor tags should be inline, otherwise they can grow too wide
  display: inline-flex;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  background: darken(theme.$purple, 10%);
  border: 1px solid theme.$purple;
  color: white;

  &[disabled],
  &.disabled {
    background: darken(theme.$purple, 30%);
    color: theme.$gray-20;
    border: 1px solid darken(theme.$purple, 20%);
  }

  &:hover:not([disabled]):not(.disabled):not(:active) {
    background: theme.$purple;
    border: 1px solid lighten(theme.$purple, 10%);
  }

  &:hover:not([disabled]):not(.disabled),
  &:focus {
    color: white;
    color: white;
  }
}

.btn-secondary {
  background: theme.$gray-20;
  color: white;
  border: 1px solid theme.$gray-30;

  &[disabled],
  &.disabled {
    border: 1px solid theme.$gray-30;
    background-color: transparent;
    color: theme.$gray-40;
  }

  &:hover:not([disabled]):not(.disabled):not(:active) {
    background: theme.$gray-30;
    border: 1px solid theme.$gray-40;
  }
}

.btn-ghost {
  border: 1px solid transparent;

  &:hover:not([disabled]):not(.disabled):not(:active) {
    color: white;
  }
}

.btn-select {
  border: 1px solid theme.$gray-30;
  transition: color 150ms ease-in-out, border 150ms ease-in-out;
  background-color: transparent;

  &[disabled],
  &.disabled {
    border: 1px solid theme.$gray-20;
    color: theme.$gray-40;
  }

  &:hover:not([disabled]):not(.disabled):not(:active) {
    color: white;
    border: 1px solid theme.$gray-40;
  }
}

.btn-xsmall {
  height: 36px;
  font-size: typography.$font-size-xs;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-small {
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.btn-medium {
  height: 48px;
  line-height: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

.btn-icon {
  &:hover:not([disabled]):not(.disabled),
  &:focus:not([disabled]):not(.disabled) {
    background-color: theme.$gray-20;

    &:active {
      color: var(--theme-text-dimmer);
    }
  }
}
