@use "theme";

code {
  font-family: var(--font-mono);
  font-size: 0.875em;
  line-height: 140%;
}

code:not([class*="language"]) {
  --border-radius: 4px;
  --padding-block: 0.2rem;
  --padding-inline: 0.33rem;

  color: inherit;
  background-color: var(--theme-code-inline-bg);
  padding: var(--padding-block) var(--padding-inline);
  margin: calc(var(--padding-block) * -1) -0.125em;
  border-radius: var(--border-radius);
  word-break: break-word;
}

pre > code:not([class*="language"]) {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: inherit;
}

pre {
  position: relative;
  background-color: var(--theme-code-bg);
  border: solid 1px var(--theme-code-border);
  color: var(--theme-code-text);
  --padding-block: 1rem;
  padding: var(--padding-block);
  margin-bottom: 48px;
  overflow-y: hidden;
  overflow-x: auto;
  border-radius: 8px;
}

@media (min-width: 768px) {
  pre {
    --padding-inline: 2rem;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: theme.$gray-50;
}

.token.punctuation {
  color: theme.$gray-50;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  color: theme.$blue-80;
}

.token.class-name {
  color: theme.$yellow-80;
}

.token.boolean,
.token.constant {
  color: theme.$green-80;
}

.token.symbol,
.token.deleted {
  color: theme.$red-80;
}

.token.number {
  color: theme.$purple-80;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: theme.$purple-80;
}

.token.variable {
  color: theme.$purple-80;
}

.token.operator {
  color: theme.$gray-80;
}

.token.entity {
  color: theme.$yellow-80;
  cursor: help;
}

.token.url {
  color: theme.$blue-80;
}

.language-css .token.string,
.style .token.string {
  color: theme.$green-80;
}

.token.atrule,
.token.attr-value {
  color: theme.$white;
}

.token.function {
  color: theme.$orange-80;
}

.token.regex {
  color: theme.$orange-80;
}

.token.important {
  color: theme.$cyan-80;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
