.list-inline {
  padding-left: 0;
  list-style: none;

  & li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.overlay-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-cover,
.bg-contain {
  background-repeat: no-repeat;
  background-position: 50%;
}

.bg-cover {
  background-size: cover;
}

.flex {
  display: flex;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pad-12 {
  padding: 12px;
}

.padx-8,
.padr-8 {
  padding-right: 8px;
}

.padx-8,
.padl-8 {
  padding-left: 8px;
}

.pady-12,
.padt-12 {
  padding-top: 12px;
}

.pady-12,
.padb-12 {
  padding-bottom: 12px;
}

.pady-16,
.padt-16 {
  padding-top: 16px;
}

.pady-16,
.padb-16 {
  padding-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.ml-auto {
  margin-left: auto;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-80 {
  margin-bottom: 80px;
}
