---
---

<style lang="scss">
  .content {
    padding: 0;
    max-width: 75ch;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & :global(img) {
      max-width: 100%;
    }
  }
  .content > section {
    margin-bottom: 4rem;
  }
  .block {
    display: block;
  }
</style>

<article class="content">
  <section class="main-section">
    <slot></slot>
  </section>
</article>
