---
import { Prism } from "@astrojs/prism";
import { Markdown } from "astro/components";

const { isRequired, description, example } = Astro.props;
---

<div>
  <slot></slot>
  {isRequired && <p class="mt-16 badge badge-info">Required</p>}
  {description?.trim() && <Markdown content={description} />}
  {example && <Prism code={example} lang="yaml" />}
</div>
