---
import { Code, Markdown } from 'astro/components';

const {isRequired, description, example} = Astro.props;
---

<slot/>
{isRequired && <p class="mt-16 badge badge-info">Required</p>}
{description?.trim() && <Markdown content={description}/>}
{example && <Code code={example} lang='yaml' />}
