---
import {getPageLinks} from '../get-page-links'
const allPages = Astro.fetchContent('../data/**/*.md');
const links = getPageLinks({currentPage: Astro.request.url.pathname, allPages});
---

<style lang="scss">

  #docs-toggle {
    width: 100%;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li:not(:last-child) {
    margin-bottom: 8px;
  }

</style>

<script type="module">
  import {Toggler} from '/toggler.js';

  function addToggler() {
    new Toggler('#docs-toggle');
  }

  window.addEventListener('load', addToggler);
</script>


<div class="mb-32">
  <button 
    id="docs-toggle" 
    class="btn btn-secondary btn-medium"
    type="button"
    aria-controls="docs-nav" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
  >
    <span>Menu</span>
  </button>
  <nav class="collapse mt-16" id='docs-nav'>
    <ul>
      {links.map(link => (
        <li>
          <a href={link.href} class='docs-page-link' >{link.title}</a>
        </li>
      ))}
    </ul>
  </nav>
</div>
