/* base color palettes, don't use these directly */
:root {
  --dn-color-purple-hs: 260, 75%;
  /* lightest */
  --dn-color-purple-95: hsl(var(--dn-color-purple-hs), 95%);
  --dn-color-purple-90: hsl(var(--dn-color-purple-hs), 90%);
  --dn-color-purple-80: hsl(var(--dn-color-purple-hs), 80%);
  --dn-color-purple-70: hsl(var(--dn-color-purple-hs), 70%);
  --dn-color-purple-60: hsl(var(--dn-color-purple-hs), 60%);
  --dn-color-purple-50: hsl(var(--dn-color-purple-hs), 50%);
  --dn-color-purple-40: hsl(var(--dn-color-purple-hs), 40%);
  --dn-color-purple-30: hsl(var(--dn-color-purple-hs), 30%);
  --dn-color-purple-20: hsl(var(--dn-color-purple-hs), 20%);
  --dn-color-purple-10: hsl(var(--dn-color-purple-hs), 10%);
  /* darkest */

  --dn-color-cyan-hs: 163, 79%;
  /* lightest */
  --dn-color-cyan-95: hsl(var(--dn-color-cyan-hs), 95%);
  --dn-color-cyan-90: hsl(var(--dn-color-cyan-hs), 90%);
  --dn-color-cyan-80: hsl(var(--dn-color-cyan-hs), 80%);
  --dn-color-cyan-70: hsl(var(--dn-color-cyan-hs), 70%);
  --dn-color-cyan-60: hsl(var(--dn-color-cyan-hs), 60%);
  --dn-color-cyan-50: hsl(var(--dn-color-cyan-hs), 50%);
  --dn-color-cyan-40: hsl(var(--dn-color-cyan-hs), 40%);
  --dn-color-cyan-30: hsl(var(--dn-color-cyan-hs), 30%);
  --dn-color-cyan-20: hsl(var(--dn-color-cyan-hs), 20%);
  --dn-color-cyan-10: hsl(var(--dn-color-cyan-hs), 10%);
  /* darkest */

  --dn-color-gray-hs: 214, 15%;
  /* lightest */
  --dn-color-gray-95: hsl(var(--dn-color-gray-hs), 95%);
  --dn-color-gray-90: hsl(var(--dn-color-gray-hs), 90%);
  --dn-color-gray-80: hsl(var(--dn-color-gray-hs), 80%);
  --dn-color-gray-70: hsl(var(--dn-color-gray-hs), 70%);
  --dn-color-gray-60: hsl(var(--dn-color-gray-hs), 60%);
  --dn-color-gray-50: hsl(var(--dn-color-gray-hs), 50%);
  --dn-color-gray-40: hsl(var(--dn-color-gray-hs), 40%);
  --dn-color-gray-30: hsl(var(--dn-color-gray-hs), 30%);
  --dn-color-gray-20: hsl(var(--dn-color-gray-hs), 20%);
  --dn-color-gray-15: hsl(var(--dn-color-gray-hs), 15%);
  --dn-color-gray-10: hsl(var(--dn-color-gray-hs), 10%);
  --dn-color-gray-05: hsl(var(--dn-color-gray-hs), 5%);
  /* darkest */

  --dn-color-green-hue: 135;
  --dn-color-green-hs: var(--dn-color-green-hue), 64%;
  --dn-color-orange-hue: 29;
  --dn-color-orange-hs: var(--dn-color-orange-hue), 90%;
  --dn-color-blue-hue: 209;
  --dn-color-blue-hs: var(--dn-color-blue-hue), 71%;
  --dn-color-red-hue: 11;
  --dn-color-red-hs: var(--dn-color-red-hue), 77%;
  --dn-color-yellow-hue: 47;
  --dn-color-yellow-hs: var(--dn-color-yellow-hue), 90%;
}

/* Fonts */
:root {
  --font-fallback:
    -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --ifm-font-family-base: var(--font-fallback);
  --ifm-heading-font-family: var(--font-fallback);
  --ifm-font-family-monospace: Menlo, Consolas, monospace;
}
