/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/** Override Starlight's default theme colors */
:root {
  --sl-hue-orange: var(--dn-color-orange-hue);
  --sl-color-orange-low: hsl(var(--dn-color-orange-hs), 22%);
  --sl-color-orange: hsl(var(--dn-color-orange-hs), 82%, 63%);
  --sl-color-orange-high: hsl(var(--dn-color-orange-hs), 82%, 87%);
  --sl-hue-green: var(--dn-color-green-hue);
  --sl-color-green-low: hsl(var(--dn-color-green-hs), 22%);
  --sl-color-green: hsl(var(--dn-color-green-hs), 82%, 63%);
  --sl-color-green-high: hsl(var(--dn-color-green-hs), 82%, 80%);
  --sl-hue-blue: var(--dn-color-blue-hue);
  --sl-color-blue-low: hsl(var(--dn-color-blue-hs), 54%, 20%);
  --sl-color-blue: hsl(var(--dn-color-blue-hs), 100%, 60%);
  --sl-color-blue-high: hsl(var(--dn-color-blue-hs), 100%, 87%);
  --sl-hue-purple: var(--dn-color-purple-hue);
  --sl-color-purple-low: hsl(var(--dn-color-purple-hs), 22%);
  --sl-color-purple: hsl(var(--dn-color-purple-hs), 63%);
  --sl-color-purple-high: hsl(var(--dn-color-purple-hs), 89%);
  --sl-hue-red: var(--dn-color-red-hue);
  --sl-color-red-low: hsl(var(--dn-color-red-hs), 22%);
  --sl-color-red: hsl(var(--dn-color-red-hs), 63%);
  --sl-color-red-high: hsl(var(--dn-color-red-hs), 87%);
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: var(--dn-color-purple-50);
  --sl-color-accent: var(--dn-color-purple-70);
  --sl-color-accent-high: var(--dn-color-purple-90);
  --sl-color-white: white;
  --sl-color-gray-1: var(--dn-color-gray-80);
  --sl-color-gray-2: var(--dn-color-gray-70);
  --sl-color-gray-3: var(--dn-color-gray-60);
  --sl-color-gray-4: var(--dn-color-gray-30);
  --sl-color-gray-5: var(--dn-color-gray-20);
  --sl-color-gray-6: var(--dn-color-gray-10);
  --sl-color-black: var(--dn-color-gray-05);
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: var(--dn-color-purple-50);
  --sl-color-accent: var(--dn-color-purple-30);
  --sl-color-accent-high: var(--dn-color-purple-20);
  --sl-color-white: var(--dn-color-gray-30);
  --sl-color-gray-1: var(--dn-color-gray-30);
  --sl-color-gray-2: var(--dn-color-gray-40);
  --sl-color-gray-3: var(--dn-color-gray-50);
  --sl-color-gray-4: var(--dn-color-gray-60);
  --sl-color-gray-5: var(--dn-color-gray-70);
  --sl-color-gray-6: var(--dn-color-gray-80);
  --sl-color-gray-7: var(--dn-color-gray-90);
  --sl-color-black: white;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--dn-color-purple-30);
  --ifm-color-primary-dark: var(--dn-color-purple-20);
  --ifm-color-primary-darker: var(--don-color-purple-10);
  --ifm-color-primary-darkest: var(--dn-color-purple-10);
  --ifm-color-primary-light: var(--dn-color-purple-50);
  --ifm-color-primary-lighter: var(--dn-color-purple-60);
  --ifm-color-primary-lightest: var(--dn-color-purple-70);
  --ifm-code-font-size: 0.875em;
  --docusaurus-highlighted-code-line-bg: hsla(0, 0%, 0%, 0.1);
  --ifm-footer-background-color: var(--dn-color-gray-95);
  --ifm-background-surface-color: var(--dn-color-gray-95);
  --ifm-hover-overlay: var(--dn-color-gray-95);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: var(--dn-color-purple-70);
  --ifm-color-primary-dark: var(--dn-color-purple-60);
  --ifm-color-primary-darker: var(--dn-color-purple-50);
  --ifm-color-primary-darkest: var(--dn-color-purple-40);
  --ifm-color-primary-light: var(--dn-color-purple-80);
  --ifm-color-primary-lighter: var(--dn-color-purple-90);
  --ifm-color-primary-lightest: var(--dn-color-purple-95);
  --ifm-footer-background-color: var(--dn-color-gray-10);
  --ifm-background-surface-color: var(--dn-color-gray-15);
  --ifm-hover-overlay: var(--dn-color-gray-20);

  & ::selection {
    color: var(--dn-color-gray-15);
  }
}

::selection {
  color: white;
  background-color: var(--ifm-color-primary);
}

[data-theme='dark'] .DocSearch {
  --docsearch-hit-active-color: var(--ifm-color-black);
}
