---

const className = Astro.props.class;

---

<style lang="scss">
  @use "../../styles/theme.scss";

  .nav-link :global(a) {
    font-size: 14px;
    margin: 1px;
    padding: 0.3rem 1rem;
    color: inherit;
    display: block;
  }

  .nav-link :global(a)[aria-current="page"] {
    color: var(--theme-accent-text);
  }

  .nav-link :global(a):hover,
  .nav-link :global(a):focus {
    color: white;
  }
</style>

<li class={`nav-link ${className}`.trim()}>
  <slot />
</li>
